.svg-container {
    position: absolute;
    top: 45%;
    left: 15%;
    transform: translate(-50%, -50%);
    border: 1px solid #d3dff0;
    border-radius: 8px;
    background-color: white;
    width: 350px;
    height: 320px;
    padding-left: 28px;
    padding-top: 88px;


}


.text {
    position: absolute;
    top: -3%;
    left: 5%;
    font-size: 14px;
}

.legend-tip {
    position: absolute;
    top: 75%;
    left: 9%;
    transform: translate(-5%, 20%);
    background-color: #f6fbfe;
    border: 1.8px solid rgb(127, 172, 226);
    padding: 11px;
    border-radius: 5px;
}

.pdf-container {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(540%, 100%);
    border: 1px solid #d3dff0;
    border-radius: 8px;
    background-color: #f4f4fe;
    width: 190px;
    height: 24px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    display: flex;
    align-items: center;
    align-content: space-around;

}

.pdf-container2 {
    position: absolute;
    top: 45%;
    left: 30%;
    transform: translate(540%, 100%);
    border: 1px solid #d3dff0;
    border-radius: 8px;
    background-color: #f4f4fe;
    width: 110px;
    height: 24px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    display: flex;
    align-items: center;
    align-content: space-around;

}

.pdf-icon {
    margin-right: -8px;
    fill: #6c39aa;
    stroke: #6c39aa;
    stroke-width: .5px;
    padding-top: 8px;
    display: flex;
    align-items: center;
}



.pdf-text {

    padding-bottom: 8px;
    color: #f4f3fb;
}








body {
    background-color: #f9f9f4;
    font-family: 'Satoshi-Regular', sans-serif;
}


@font-face {
    font-family: 'Satoshi-Regular';
    src: url('Satoshi-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Satoshi-Bold';
    src: url('Satoshi-Bold.otf') format('opentype');
}

h1 {
    font-family: 'Satoshi-Bold', sans-serif;
}

h2 {
    font-family: 'Satoshi-Bold', sans-serif;
}

h3 {
    font-family: 'Satoshi-Bold', sans-serif;
}

h5 {
    font-family: 'Satoshi-Bold', sans-serif;
}

p {
    font-family: 'Satoshi-Regular', sans-serif;
}

text {
    font-family: 'Satoshi-Regular', sans-serif;
}


;